<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boe.idm.project.mapper.primaryOracle.dev.AlarmInfoMapper">

	<select id="getInfoList" resultType="AlarmInfo">
		select * from
		SC_ALARM_INFOLIST_VW where spec_id = ${specID}
	</select>


	<select id="getInfoHist" resultType="AlarmInfo">
		select spec_id, name ,qty, no
		from SC_ALARM_infohist_VW where hourtimekey = to_char(sysdate,
		'yyyymmddHH24') and spec_id = ${specID}
	</select>

</mapper>