<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

	<mapper namespace="com.boe.idm.project.mapper.primaryOracle.dev.CellWipCurrentStationMapper"> 
		<select id="getList" resultType="CellWipCurrentStationVO"> 
			select hourtimekey,operationdesc,oper_name as eqp_id,modeltype,glsqty as glassqty from sc_cl_wip2_vw 
			where hourtimekey = #{hourtimekey} and operationdesc = #{operationdesc}
		</select>

	</mapper>