<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

	<mapper namespace="com.boe.idm.project.mapper.primaryOracle.dev.CfMoveCurrentStationMapper"> 
		<select id="getList" parameterType="String" resultType="ArrayMoveCurrentStationVO"> 
			select oper_desc as operationdesc,eqp_id,modeltype,glassqty from sc_cf_move2_vw 
			where oper_desc = '${operationdesc}'
		</select>
	</mapper>