<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

	<mapper namespace="com.boe.idm.project.mapper.primaryOracle.dev.CfWipCurrentMapper"> 
		
		<select id="getList" resultType="CfWipCurrentVO"> 
			select hourtimekey,oper_desc as operationdesc,modeltype,glassqty from sc_cf_wip1_1_vw
			where hourtimekey = #{hourtimekey}
		</select>
	

	</mapper>