<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

	<mapper namespace="com.boe.idm.project.mapper.primaryOracle.dev.GSshowTableMapper"> 
		<select id="getList" resultType="GSshowTableVO"> 
			select substr(datename,7,2) as datename,
			     inglass as glassin,
			     outglass as glassout,
			     sum_inqty as sumin,
			     sum_outqty as sumout
			 from sc_${factoryname}_gs_vw
		</select>

	</mapper>