<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="ui-g">
  <p-panel>
    <p-header>
      <div class="ui-g-12">
        <h3 style="text-align:center;margin: 0px 10px">Array站点信息维护表</h3>
      </div>
    </p-header>
    <div class="ui-panel-content">

      <p-table #dt [columns]="cols" [value]="infos" selectionMode="single" [(selection)]="selectedInfo" (onRowSelect)="onRowSelect($event)"
        [paginator]="true" [rows]="18">

        <ng-template pTemplate="header" let-columns>
          <tr class="setFontSize">
            <th *ngFor="let col of columns" >
              {{col.header}}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" class="setFontSize">
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
          </div>
        </ng-template>

      </p-table>
    </div>
  </p-panel>
</div>

<p-dialog header="Info Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="400">
  <div class="ui-g ui-fluid" *ngIf="info">
    <div class="ui-g-12">
      <div class="ui-g-5">
        <label for="factory">Factory</label>
      </div>
      <div class="ui-g-7">
        <input pInputText id="factory" [(ngModel)]="info.factory" placeholder="选填"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-5">
        <label for="oper_code">Oper_code</label>
      </div>
      <div class="ui-g-7">
        <input [disabled]="disabled" pInputText id="oper_code" [(ngModel)]="info.oper_code" placeholder="必填"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-5">
        <label for="oper_desc">Oper_desc</label>
      </div>
      <div class="ui-g-7">
        <input  pInputText id="oper_desc" [(ngModel)]="info.oper_desc" placeholder="选填"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-5">
        <label for="move">Move</label>
      </div>
      <div class="ui-g-7">
        <input pInputText id="move" [(ngModel)]="info.move" placeholder="选填"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-5">
        <label for="wip">Wip</label>
      </div>
      <div class="ui-g-7">
        <input pInputText id="wip" [(ngModel)]="info.wip" placeholder="选填"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-5">
        <label for="no">No</label>
      </div>
      <div class="ui-g-7">
        <input pInputText id="no" type="number" [(ngModel)]="info.no" placeholder="选填(数字)"/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" *ngIf="deleteButton" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>