<!-- 
        <body class="login-body">
        <div class="login-panel ui-fluid">
            <div class="login-panel-header ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-4" style="text-align: center">
                <img src="assets/boe/themes/images/logo-white.png" style="display: inline/inline-block">
                </div>
                <div class="ui-g-4">
                <p-dropdown 
                    [options]="languageList" [(ngModel)]="selectLang"
                    placeholder="{{ 'language select' | translate }}" 
                    [ngStyle]="{'float': 'right', 'color': 'white'}" 
                    (onChange)="langChanged()"></p-dropdown>
                </div>
            </div>
              
            <div class="login-panel-content">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <h1>{{ 'login.title' | translate }}</h1>
                    </div>

                    <div *ngIf="hintVisible" style="margin-bottom: 10px; padding-left: 15px;">
                        <font color="red" size="1">{{hint}}</font>
                    </div>
                    
                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <div class="ui-g form-group">
                            <div class="ui-g-12" >
                                <span class="md-inputfield">
                                    <input type="text" pInputText
                                        name="username" [(ngModel)]="model.username" #username="ngModel" required >
                                    <label>{{ 'login.username' | translate }}</label>
                                    <div *ngIf="f.submitted && !username.valid" class="ui-message ui-messages-error ui-corner-all">
                                        {{ 'require field' | translate }}
                                    </div>
                                </span>
                                
                            </div>
                            <div class="ui-g-12" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <span class="md-inputfield">
                                    <input type="password" pInputText
                                        name="password" [(ngModel)]="model.password" #password="ngModel" required >
                                    <label>{{ 'login.password' | translate }}</label>
                                    <div *ngIf="f.submitted && !password.valid" class="ui-message ui-messages-error ui-corner-all">
                                        {{ 'require field' | translate }}
                                    </div>
                                </span>
                                
                            </div>
                            <div class="ui-g-12">
                                <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" [disabled]="loading" >
                                    <span class="ui-button-icon-left fa ui-icon-person"></span>
                                    <span class="ui-button-text">{{ 'login' | translate }}</span>
                                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="ui-g-12">
                     </div>
                </div>
            </div>
            
          </div>
      </body> -->

      <body class="login-body">
        <div class="login-panel ui-fluid">
          <div class="login-panel-header ui-g">
            <div class="ui-g-8" style="color:blanchedalmond;text-align: left;font-size: 23px;padding-left: -12px;">
              BOEDT数据透明化平台
            </div>
            <div class="ui-g-4" style="text-align: center;padding-left: 100px;padding-top:8px">
              <img src="assets/boe/themes/images/logo-white.png" style="display: inline/inline-block"
              [ngStyle]="{'height':'45px','width':'60px'}">
            </div>
         
          </div>
      
          <div class="login-panel-content">
            <div class="ui-g">
              <div class="ui-g-12">
                <div class="ui-g-8"></div>
                  <div class="ui-g-4" style="margin-top:-18%;margin-left: 99%;">
                      <p-dropdown [options]="languageList" [(ngModel)]="selectLang" placeholder="{{ 'language select' | translate }}"
                        [ngStyle]="{'float': 'right', 'color': 'black','text-align':'right'}" (onChange)="langChanged()"></p-dropdown>
                    </div>
              </div>
              <div class="ui-g-12" [ngStyle]="{'margin-top':'-10%'}">
                <h1>{{ 'login.title' | translate }}</h1>
              </div>
      
              <div *ngIf="hintVisible" style="margin-bottom: 10px; padding-left: 15px;">
                <font color="red" size="1">{{hint}}</font>
              </div>
      
              <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="ui-g form-group">
                  <div class="ui-g-12">
                    <span class="md-inputfield">
                      <input type="text" pInputText name="username" [(ngModel)]="model.username" #username="ngModel" required>
                      <label>{{ 'login.username' | translate }}</label>
                      <div *ngIf="f.submitted && !username.valid" class="ui-message ui-messages-error ui-corner-all">
                        {{ 'require field' | translate }}
                      </div>
                    </span>
      
                  </div>
                  <div class="ui-g-12" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <span class="md-inputfield">
                      <input type="password" pInputText name="password" [(ngModel)]="model.password" #password="ngModel"
                        required>
                      <label>{{ 'login.password' | translate }}</label>
                      <div *ngIf="f.submitted && !password.valid" class="ui-message ui-messages-error ui-corner-all">
                        {{ 'require field' | translate }}
                      </div>
                    </span>
      
                  </div>
                  <div class="ui-g-12">
                    <button id="sumitbtn" type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" [disabled]="loading">
                      <span class="ui-button-icon-left fa ui-icon-person"></span>
                      <span class="ui-button-text">{{ 'login' | translate }}</span>
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </button>
                  </div>
                </div>
              </form>
              <div class="ui-g-12">
                <!-- Don't have an account? <a href="#">Sign Up</a> now. -->
              </div>
            </div>
          </div>
      
        </div>
      </body>
   