<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.boe.idm.project.mapper.primary.spec.SpecMapper"> 
	<select id="specList" parameterType="hashmap" resultType="SpecVO">
		select * from specTable		
	</select>
	
	<update id="specUpdate" parameterType="SpecVO" >
		UPDATE specTable
		SET (productid,stepid,defectname,control1,alarmtype1,alarmreceivername1,alarmreceiverid1,control2,alarmtype2,alarmreceivername2,alarmreceiverid2) = (#{productid}, #{stepid}, #{defectname}, #{control1}, #{alarmtype1}, #{alarmreceivername1},#{alarmreceiverid1},#{control2},#{alarmtype2},#{alarmreceivername2},#{alarmreceiverid2})
		WHERE Key = #{Key}
	</update>
		
	<delete id="specDelete" parameterType="SpecVO">
	    Delete  FROM specTable where Key = #{Key} 
		
	</delete>
	<insert id="specInsert" parameterType="SpecVO">
	    INSERT INTO specTable(productid,stepid,defectname,control1,alarmtype1,alarmreceivername1,alarmreceiverid1,control2,alarmtype2,alarmreceivername2,alarmreceiverid2) 
	    VALUES  (#{productid}, #{stepid}, #{defectname}, #{control1}, #{alarmtype1}, #{alarmreceivername1},#{alarmreceiverid1},#{control2},#{alarmtype2},#{alarmreceivername2},#{alarmreceiverid2})
	
	</insert>
		

</mapper>